img {}

.destinations-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;


    .destinations-page-btn {
        background-color: transparent;
    }

}