img {}

.destinations-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1.25rem;


    .destinations-page-btn {
        background-color: transparent;
        padding-block: .625rem;
    }

    .destinations-page-btn.destinations-active {
        border-bottom: 2px solid $clr-white !important;
    }

}

.crew-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-block: 2rem;

    .crew-page-btn {
        cursor: pointer;
        background: none;
        border: none;
        opacity: .5;
    }

    .crew-page-btn.crew-active {
        opacity: 1;
    }

    .btn-circle {
        background: $clr-white;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        flex-shrink: 0;
    }

}

.technology-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-block: 2rem;

    @media screen and (min-width: 993px) {
        flex-direction: column;
    }

    .technology-page-btn {
        border: 1px solid $clr-white;
        border-radius: 50%;
        background: 0;
        cursor: pointer;
        width: clamp(2.5rem, 4.5vw, 5rem);
        height: clamp(2.5rem, 4.5vw, 5rem);
        text-align: center;
        font-family: 'Bellefair',
            serif;
        font-size: clamp(1.5rem, 1.75vw, 2rem);
    }

    .technology-page-btn.technology-active {
        background-color: $clr-white;
        color: $clr-dark !important;
    }
}