// Colors
$clr-dark: #0B0D17;
$clr-light: #D0D6F9;
$clr-white: #FFFFFF;
$clr-slategray: #383B4B;


$nav-text-color: $clr-white;
$nav-underline-accent: $clr-white;
$tab-text-color: $clr-light;
$subheading-text-color: $clr-light;
$heading-text-color: $clr-white;
$button-text-color: $clr-dark;
$body-text-color: $clr-light;

// Fonts


// Breakpoints
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;