.crew-page {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/crew/background-crew-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    @include bp-tablet-up {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/public/assets/crew/background-crew-tablet.jpg'), $clr-dark;
        background-size: cover;
        background-repeat: no-repeat;
    }

    @include bp-xl-up {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/crew/background-crew-desktop.jpg'), $clr-dark;

    }

    .borderBottom {
        border-bottom: 1px solid $clr-slategray;
        padding-top: .625rem;
    }

    .crew-container {   
        @include bp-tablet-up {
            height: 90vh;
        }

        .crew-content {
            @include bp-tablet-up {
                height: 88vh;
            }
            .crew-information {
                .crew-btn-container {
                    @include bp-xl-up {
                        justify-content: flex-start !important;
                    }
                }

                .crew-details {
                    @include bp-tablet-up {}

                    .crew-bio {
                        width: 45ch;
                    }
                }
            }
         }

    }

}


.img-fluid {
    width: 50% !important;

    @include bp-tablet-up {
        width: 70% !important;
    }

    @include bp-lg-up {
        width: 100% !important;
    }
}