.destination-page {
    width: 100%;
    height: 100%;
    margin: auto;
    background-image: url('/assets/destination/background-destination-mobile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include bp-tablet-up {
        background-image: url('/assets/destination/background-destination-tablet.jpg');
    }

    @include bp-lg-up {
        background-image: url('/assets/destination/background-destination-desktop.jpg');

    }

    .dest-image-container {
        width: 100%;
        height: auto;

        img {
            width: 10.625rem;
            height: 10.625rem;
            @include bp-tablet-up {
                width: 18.75rem;
                height: auto;
            }
            @include bp-lg-up {
                width: 27.8125rem;
                height: auto;
            }
        }

    }
    .borderTop {
        border-top: 1px solid $clr-slategray;
    }
}

