.destination-page {
    background-image: url('/assets/destination/background-destination-mobile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include bp-tablet-up {
        background-image: url('/assets/destination/background-destination-tablet.jpg');
    }

    @include bp-xl-up {
        background-image: url('/assets/destination/background-destination-desktop.jpg');

    }

    .destination-main {
        .destination-container {
            .row {
                
                .destination-image-container {

                    picture {
                        width: 100%;
                        height: auto;

                        @include bp-tablet-up {
                            width: 60% !important;
                            height: auto;
                        }

                        @include bp-lg-up {
                            width: 50% !important;
                            height: auto;
                        }

                        @include bp-xxl-up {
                            width: 84% !important;
                            height: auto;
                        }
                    }

                }
            }

            .destination-content {
                height: 80vh;
                @include bp-tablet-up {
                height: 50vh;
                }
                @include bp-xl-up {
                    height: 65vh;
                }
                .destination-info {
                    .destination-text {
                        width: 38ch;
                        @include bp-tablet-up {
                            width: 65ch;
                        }

                    }
                }

                 .destination-details {
                     
                }
            }

        }
    }


    .borderTop {
        border-top: 1px solid $clr-slategray;
    }


}