.destination-page {
    background-image: url('/assets/destination/background-destination-mobile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include bp-tablet-up {
        background-image: url('/assets/destination/background-destination-tablet.jpg');
    }

    @include bp-xl-up {
        background-image: url('/assets/destination/background-destination-desktop.jpg');

    }

    .destination-main {
        .destination-container {
            .row {

                .destination-image-container {

                    picture {
                        max-width: 100%;
                        height: auto;

                        @include bp-tablet-up {
                            max-width: 60% !important;
                            height: auto;
                        }

                        @include bp-xxl-up {
                            max-width: 84% !important;
                            height: auto;
                        }
                    }

                }
            }

            .destination-content {
                min-height: 85vh;
                .destination-info {


                    .destination-text {
                        width: 38ch;

                    }
                }
            }

        }
    }


    .borderTop {
        border-top: 1px solid $clr-slategray;
    }


}