.home-page {
    background-image: url('/assets/home/background-home-mobile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include bp-tablet-up {
        background-image: url('/assets/home/background-home-tablet.jpg');
    }

    @include bp-xl-up {
        background-image: url('/assets/home/background-home-desktop.jpg');

    }

    .home-main {
        .home-container {
            .row {
                min-height: 90vh;

                .home-content {
                    @include bp-xxl-up {
                        width: 50% !important;
                    }
                }
            }
        }
    }


}