.technology-page {
    width: 100%;
    height: 100vh;
    margin: auto;
    background-image: url('/assets/technology/background-technology-mobile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include bp-tablet-up {
        background-image: url('/assets/destination/background-technology-tablet.jpg');
    }

    @include bp-lg-up {
        background-image: url('/assets/destination/background-technology-desktop.jpg');

    }
}