.technology-page {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    background-image: url('/assets/technology/background-technology-mobile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include bp-tablet-up {
        background-image: url('/assets/technology/background-technology-tablet.jpg');
    }

    @include bp-xl-up {
        background-image: url('/assets/technology/background-technology-desktop.jpg');

    }

    .tech-image-container {
        width: 100%;
        height: auto;

        @include bp-xl-up {
            order: 2;
        }

        .tech-img {
            max-width: 100%;
            height: auto;

            @include bp-tablet-up {
                margin: auto;
            }
        }
    }

    .tech-content {
        &-text {

            .tech-info {
                width: 20.4375rem;

                @include bp-tablet-up {
                    width: 28.625rem;
                }

            }

        }
    }



}