@import '../abstracts/variables';
@import './typography';

/* Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
    outline: 1px solid gray;
}

/* Body */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    line-height: 1.5;
    //margin: auto;
}

ul,
li {
    list-style-type: none;
    text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Make forms easier to work with*/
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove animations for people who have turned it off */
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

// Utility Classes
.flow>*:not(:first-child) {
    margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
    --flow-space: .75rem;
}