@import '../abstracts/variables';
@import './typography';

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 1px solid gray;
}

body {
    width: 100%;
    min-height: 100%;
    margin: auto;
}

ul,
li {
    list-style-type: none;
    text-decoration: none;
}

img,
picture {
    max-width: 100%;
    display: block;
}

// Utility Classes
.flow > *:not(:first-child) {
    margin-top: 1rem;
    @include bp-tablet-up {
        margin-top: 2rem;
    }

}